@media only screen and (min-width:0){
    .main-form{
        width:100%;
    }
    .head-form{
        width:100%;
        border: 1px solid rgba(51,51,51,0.1);
        padding: 5px;
    }
    .head-title{
        font-size: 17px;
        font-weight: 600;
    }
    .note-text{
        padding: 5px;
        margin-left: 10px;
    }
    .name-file{
        font-size: 12px;
        font-style: italic;
        padding: 3px;
        padding: 5px;
    }
    .bnt-select-file{
      font-size: 12px;
      border:1px solid rgba(51,51,51,0.1);
      background-color: #97cc76;
      box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 2px;
      position: relative;
      float: right;
      cursor: pointer;
      margin-left: 5px;
      margin-top: 1px;
    }
    .file-example{
        cursor: pointer;
        float: right;
        padding: 5px;
        text-decoration: underline;
        color: green;
    }
    .fa-times-circle{
        cursor: pointer;
        font-size: 14px;
    }
    .bd-input-file{
        border:1px solid rgba(51,51,51,0.1);
        border-radius: 4px;
        padding: 3px;
        margin-left: 5px;
        min-width:25%;
    }
    .bnt-import-file{
        background-color: #97cc76;
        -webkit-box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 1px 0 #c6e6b3, inset 0 -1px 0 #79b356, inset 0 0 0 1px #a4cc8b, 0 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        padding: 3px 5px;
        position: relative;
        float: left;
        cursor: pointer;
        margin-left: 15px;
        margin-top: 1px;
        color: white;
        font-weight: 400;
        margin-top: 3px;
    }
    .body-form{
        width:100%;
    }
    .border-head-table{
        display: inline-block;
        text-decoration: none;
        width: 200%;
    }
    .head-table{
        width: 100%;
        border-bottom: 1px solid rgba(51,51,51,0.05);
        background-color: #008acc;
    }
    .scrollmenu{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
        width: 100%;
    }
    .row-num1{
        width:50px;
    }
    .row-num2{
        width:150px;
    }
    .row-num3{
        width:230px;
    }
    .text-head-table{
        border-right: 1px solid rgba(255,255,255,0.1);
        padding: 5px;
        color: white;
        font-weight: 500;
    }
    .body-table{
        border: 1px solid rgba(51,51,51,0.05);
        ;
    }
    .text-item-table{
        border-right: 1px solid rgba(51,51,51,0.1);
        padding: 5px;
        color: #333333;
        font-weight: 300;
        height: 35px;
        white-space: nowrap;
        overflow: hidden;
    }
    .text-item-table:hover{
        overflow: visible;
    }
    .body-table{
        width: 100%;
    }
    .bd-table-sd{
        background-color: #f8f6ff;
    }
}